{{ define "/stage/list" }}
{{ template "header" . }}
<div class="container">
  <div class="rows">
    <div class="col-sm-12">
      <h1>地图信息</h1>
      <hr/>
      <br/>
      <table class="table">
        <tr>
          <th>ID</th>
          <th>名称</th>
          <th>地区ID</th>
          <th>grade</th>
          <th>开放条件</th>
          <th>模式</th>
          <th>canclosed</th>
          <th>操作</th>
        </tr>
        {{ range .Stages}}
        <tr>
          <td>{{.ID}}</td>
          <td>{{.Name}}</td>
          <td>{{if .AreaID.Valid}}{{.AreaID.Int64}}{{else}}{{end}}</td>
          <td>{{.Grade}}</td>
          <td>{{if .UnlockCondition.Valid}}{{.UnlockCondition.Int64}}{{else}}{{end}}</td>
          <td>{{.Mode}}</td>
          <td>{{.CanClosed}}</td>
          <td><a class="btn btn-default" href="/monster/list?stage={{.ID}}">怪物列表</a></td>
        </tr>
        {{end}}
      </table>
    </div>
    <div class="col-sm-12">
      {{.Pager}}
    </div>

  </div>
</div>
{{ template "footer" . }}
{{ end }}
